@model RelA.Domain.Entities.Project

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    @ViewBag.Title</h2>
<div class="toolBar">
    @Html.ActionLink("Cancelar", "Index")
</div>
<hr />
@using (@Html.BeginForm("Edit", "Project"))
{
    @Html.EditorForModel(Model)
    
    <input type="submit" value="Salvar" class="actionButtons" /> 
}
