@model RelA.WebUI.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Message</h2>
<div class="homeSummaryLine">
    <div class="homeSummary">
        <h3>
            Solicitados</h3>
        <hr />
       @{Html.RenderPartial("HomeSummary", Model.Requested);}
    </div>
    <div class="homeSummary">
        <h3>
            Em desenvolvimento</h3>
        <hr />
         @{Html.RenderPartial("HomeSummary", Model.Developing);}
    </div>
</div>
<div class="homeSummaryLine">
    <div class="homeSummary">
        <h3>
            Concluidos</h3>
        <hr />
        @{Html.RenderPartial("HomeSummary", Model.Concluded);}
    </div>
    <div class="homeSummary">
        <h3>
            Outros</h3>
        <hr />
        @{Html.RenderPartial("HomeSummary", Model.Others);}
    </div>
</div>
