@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Message</h2>

<div style="position: absolute; top: 0; left: 0; right: 50%; border: solid 1px black;
    margin-right: 1em">
    <h3>
        Solicitados</h3>
    <hr />
    ppppppppppppppppppppppppppppppppppppppp<br />
    ppppppppppppppppppppppppppppppppppppppp<br />
    ppppppppppppppppppppppppppppppppppppppp<br />
    ppppppppppppppppppppppppppppppppppppppp<br />
    ppppppppppppppppppppppppppppppppppppppp<br />
</div>
<div style="position: absolute; top: 0; left: 50%; right: 0; bottom: 30%; border: solid 1px black;">
    <h3>
        Em desenvolvimento</h3>
    <hr />
</div>
