@using RelA.WebUI.Models
@model IEnumerable<RelA.WebUI.Models.HomeSummaryViewModel>
<table class="Grid">
    <thead>
        <tr>
            <th>
                Atividade
            </th>
            <th>
                Descrição
            </th>
            <th class="StatusCol">
                Status
            </th>
            <th class="DateCol">
                Data de Alteração
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            foreach (HomeSummaryViewModel item in Model)
            {
            <tr style="background-color:@item.Color.GetHtmlColor(); color:@item.Color.GetReadableForeColor().Name">
                <td>
                    @Html.ActionLink(item.Title, "Details", "Task", new { TaskID = item.TaskID }, null)
                </td>
                <td>@item.Description
                </td>
                <td class="StatusCol">@item.Status
                </td>
                <td class="DateCol">@item.ChangeDate.ToShortDateString()
                </td>
            </tr>    
            }
        }
        else
        {
            <tr>
                <td colspan="4">
                    Nenhum registro encontrado!
                </td>
            </tr>
        }
    </tbody>
</table>
